.nav-bar {
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  padding: 12px 32px;
}
@media (max-width: 991px) {
  .nav-bar {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.div-26 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media (max-width: 991px) {
  .div-26 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.span-16 {
  display: flex;
  gap: 16px;
  margin: auto 0;
}
.div-27 {
  color: #1a181e;
  font: 400 15px/147% Inter, sans-serif;
}
.span-17 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 6px;
  margin: auto 0;
}
.img-16 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 14px;
  overflow: hidden;
  max-width: 100%;
}
.div-28 {
  color: #4d4d4d;
  font: 400 12px/133% Inter, sans-serif;
}
.span-18 {
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 9px 16px;
}
@media (max-width: 991px) {
  .span-18 {
    padding-right: 20px;
  }
}
.img-17 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  overflow: hidden;
  max-width: 100%;
  margin: auto 0;
}
.div-29 {
  color: #808080;
  align-self: stretch;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 15px/147% Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-29 {
    white-space: initial;
  }
}
.div-30 {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.img-18 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  overflow: hidden;
  max-width: 100%;
}
.img-19 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  overflow: hidden;
  max-width: 100%;
}
